<h1>All Links</h1>
<!--<h3><%#= link_to "Add A New List", new_user_list_path(current_user) %> |-->
<!--<%#= link_to "Archived Lists", user_archived_lists_path(current_user) %>-->
<!--</h3>-->

<br/>
<br/>

<h3>
  Add A New Link:
</h3>

<%= render partial: "layouts/new_link_form", locals: {object: @link} %>

<h3>
  Links:
</h3>

<h4>
  <div class="all-task-lists">
    <% if @links %>
      <% @links.map do |link| %>
        <%= link_to link.title, user_link_path(current_user, link) %> <br/>
      <% end %>
    <% end %>
  </div>
</h4>
