<h1>All Links</h1>
<!--<h3><%#= link_to "Add A New List", new_user_list_path(current_user) %> |-->
<!--<%#= link_to "Archived Lists", user_archived_lists_path(current_user) %>-->
<!--</h3>-->

<br/>
<br/>

<h3>
  Add A New Link:
</h3>

<%= render partial: "layouts/new_link_form", locals: {object: @link} %>

<h3>
  Links:
</h3>

<h4>
  <div class="links">
    <% if @links %>
      <% @links.map do |link| %>
        <div id="link">
          <%= link_to link.title,
                      link.url,
                      data: {id: link.id},
                      class: current_link_status(link)%>
          <% if link.status %>
            <%= link_to "Make Read", user_links_path(current_user),
                        method: :patch,
                        id: "makeRead",
                        class: "btn btn-default",
                        remote: true %>
          <% else %>
            <%= link_to "Make Unread", user_links_path(current_user),
                        method: :patch,
                        id: "makeUnread",
                        class: "btn btn-default",
                        remote: true %>
          <% end %>
        </div>
        <br/>
      <% end %>
    <% end %>
  </div>
</h4>
